/******************************************************/


/* Taken from demo.css of official slider */


/******************************************************/


/* CSS reset */

html,
body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}













/******************************************************/


/* Taken from style1.css of official slider */


/******************************************************/

.cb-slideshow,
.cb-slideshow:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.cb-slideshow li span img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.cb-slideshow li span {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    color: transparent;
    background-size: cover;
    background-repeat: none;

    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}